  /* ===========================
            BASE
  ========================== */

body{
  font-family: Arial, Helvetica, sans-serif;
  color:var(--dark-grey);
  font-size: var(--s);
}

.container-center{
  margin: auto;
  width: 80%;
}

.container-right{
  margin-left: auto;
  margin-right: auto;
  margin-right: 10%;
  width: 400px;
}

.container-grey{
  background-color:var(--light-grey);
} 



/* ===========================
            FONTS
  ========================== */

  h1 {
    font-size: var(--h1-size);
    color: var(--lighter-middle-grey);
  }
  
  
  h2 {
    color: black;
    font-size: var(--h2-size);
  }
  
  p {
    font-size: var(--p-size);
    font-family: Georgia, serif;
  }
  
  .p-subtitle{
    font-family:Arial, Helvetica, sans-serif;
    color: var(--middle-grey);
  }
  
  cite{
    font-family:Arial, Helvetica, sans-serif;
    font-size: var(--cite-size);
    color: var(--light-grey2);
    
    font-style: normal; /* because italic is default value for cite */
  }

  figcaption{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--middle-grey2);
    font-size: var(--xs);
  }
  
  blockquote{
    font-weight: bold;
    font-style: italic;
    color: var(--orange);
    margin-left: -5%;
  }

  
  dt{
    font-size: var(--dt-size);
    font-weight: bold;  
    color: var(--middle-grey);
    margin: 1em 0 0 0;
  }
  
  dd{
    margin:0;
    padding:0;
  }



  /* ===========================
            COMPONENTS
  ========================== */

  table,td {
    border: 1px solid var(--dark-grey);
} 

thead,
tfoot {
    background-color: var(--dark-grey);
    color: var(--light-grey);
}








/*
h1,h2,h3{
  color:blue;
  padding:20px;
  font-size: 20px;
}

.mengentext{
  font-family: sans-serif;
  padding-bottom:10px;
  line-height: 140%;
}

.is-hero{
  font-size: 28px;
}

#design-principles{
  padding: 30px;
  background-color: #eee;
}

[placeholder] {
  font-size: 40px;
  padding:10px;
}

#design-principles .mengentext{
  font-weight: bold;
  color: red;

}

nav li{
  border-top: solid 2px red;;
}

*/