/* ===========================
            BASE
  ========================== */

body {
  color: var(--dark-grey);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--s);
}

.container-center {
  width: 80%;
  margin: auto;
}

.container-right {
  width: 80%;
  margin: auto;

  /*
  margin-left: auto;
  margin-right: auto;
  margin-right: 10%;
  width: 400px;
  */
}

/* ===========================
            FONTS
  ========================== */

h1 {
  color: var(--lighter-middle-grey);
  font-size: var(--h1-size);
}

h2 {
  color: black;
  font-size: var(--h2-size);
}

p {
  font-family: Georgia, serif;
  font-size: var(--p-size);
}

.p-subtitle {
  color: var(--middle-grey);
  font-family: Arial, Helvetica, sans-serif;
}

cite {
  color: var(--light-grey2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--cite-size);
  font-style: normal; /* because italic is default value for cite */
}

figcaption {
  color: var(--middle-grey2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--xs);
}

blockquote {
  margin-left: -5%;
  color: var(--orange);
  font-style: italic;
  font-weight: bold;
}

dt {
  margin: 1em 0 0 0;
  color: var(--middle-grey);
  font-size: var(--dt-size);
  font-weight: bold;
}

dd {
  padding: 0;
  margin: 0;
}

/* ===========================
            COMPONENTS
  ========================== */

table,
td {
  border: 1px solid var(--dark-grey);
}

thead,
tfoot {
  /* background-color: var(--dark-grey); */
  color: var(--light-grey);
}

/*
h1,h2,h3{
  color:blue;
  padding:20px;
  font-size: 20px;
}

.mengentext{
  font-family: sans-serif;
  padding-bottom:10px;
  line-height: 140%;
}

.is-hero{
  font-size: 28px;
}

#design-principles{
  padding: 30px;
  background-color: #eee;
}

[placeholder] {
  font-size: 40px;
  padding:10px;
}

#design-principles .mengentext{
  font-weight: bold;
  color: red;

}

nav li{
  border-top: solid 2px red;;
}

*/
