/* variables = costum properties
   --name: value;
*/

:root {
  --s: 0.8;
  --m: 1;
  --l: 1.8;
  --xl: 2.5;
  --xxl: 3.5;

  /* COLORS */
  --light-grey1: #eee;
  --light-grey2: #aaa;
  --middle-grey1: #888;
  --middle-grey2: #666;
  --dark-grey: #444;
  --orange: rgb(207, 169, 43);
}
